/* button{
    background: blue;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s linear;
    //
}

button:hover{
   
    transform: scale(1.2);
} */

.box{
    width: 150px;
    height: 150px;
    background: skyblue;
    /* transition: 0.3s; */
    /* transition: 0.3s linear; */
    /* transition: 0.3s ease; */
    /* transition: 0.3s ease-in; */
    transition: 0.3s ease-out;
    

}

.box:hover{
    /* transform: scale(1.2); */
    /* transform: translateX(50px); */
    /* transform: translate(100px) rotate(40deg); */
    transform: translate(100px) rotate(180deg);
    /* background-color: red; */
}

